body{
    background-color: cadetblue;
}
h1,h2,h3,h4{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}
.title{
font-size: 48px;
text-align: center;
margin-bottom: 20px;
color: #32edfa56;
}

.form-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
       box-shadow: 0px 30px 40px black  ;
         margin-top:23px;
}
.btn-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}
.btn-plus{
    background-color: crimson;
       box-shadow: -30px 30px 40px black  ;
         margin-top:23px;
}
.btn-dilit{
    background-color: darkgoldenrod;
       box-shadow: -30px 30px 40px black  ;
         margin-top:23px;
}
.btn-mnogt{
  background-color: rgb(10, 65, 128);  
     box-shadow: -30px 30px 40px black  ;
       margin-top:23px;
}
.btn-minus{
    background-color: darkolivegreen;
       box-shadow: -30px 30px 40px black  ;
         margin-top:23px;
}
.btn-sumbit{
    
    color:rgb(0, 0, 0) ;
    background-color: rgb(172, 172, 172);
    width: 100%;
      box-shadow: -30px 30px 40px black  ;
        margin-top:23px;
}
.btn-sumbit:active{
border: 1px solid rgb(0, 0, 0);
}
.text-result{
    background-color: #fff;
    height: 100px;
    text-align:center;
    border-radius: 10px; 
    box-shadow:-30px 30px 60px #000000 ;
    margin-top:23px;
    
}
.text-result h4{
    font-size: 28px;
}
.text-result div{
    font-size: 20px;
}

@media(max-width:500px){
    .container{
        width: 100%;
        padding: 12px;
    }
    .title{
        font-size: 38px;
    }
}